body{
    /* background-image: linear-gradient(120deg, rgb(255, 164, 220) , #597ccd); */

}
.back
{
    height: 100vh;
    background-color: #D896D6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23D896D6' cx='50' cy='0' r='50'/%3E%3Cg fill='%23d594d7' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d391d8' cx='50' cy='100' r='50'/%3E%3Cg fill='%23d08fd9' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cd8cda' cx='50' cy='200' r='50'/%3E%3Cg fill='%23c98adb' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c688dc' cx='50' cy='300' r='50'/%3E%3Cg fill='%23c286de' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23be84df' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ba82e0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b580e2' cx='50' cy='500' r='50'/%3E%3Cg fill='%23b17fe3' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ac7de5' cx='50' cy='600' r='50'/%3E%3Cg fill='%23a67be6' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a17ae8' cx='50' cy='700' r='50'/%3E%3Cg fill='%239b79e9' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%239477eb' cx='50' cy='800' r='50'/%3E%3Cg fill='%238d76ec' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%238675ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%237e74ef' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%237573F1' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}
.form
{ 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.form-cont
{
    width: 450px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 30px;
}
.form-cont input
{
    border: none;
    outline: none;
    border-bottom:solid 2px rgb(177, 177, 177) ;
}
